.home {
  display: flex;
  justify-content: space-around;

  margin-top: -8rem;
  align-items: center;

  box-sizing: border-box;
}

.home img {
  width: 115px; /* or any desired size */
  height: 115px;
  object-fit: cover; /* ensures the image fills the circle without distortion */
  border-radius: 50%; /* makes it a perfect circle */
}

.left {
  width: 55vw;
}
.right {
  margin-top: -2rem;
}

h1,
h2,
p,
button {
  font-weight: 400;
}

.home h1 {
  font-size: 3.9rem;
  margin-top: 20px;
}

.home h2 {
  font-size: 2.5rem;
  margin-bottom: 0;
}
.home p {
  padding-top: 0;
}

.buttons {
  margin-top: 3rem;
  display: flex;
  gap: 1rem;
  font-size: 1.2rem;
}

.buttons button:nth-of-type(2) {
  background-color: white;
  color: black;
  border: 1px solid grey;
}
