.navbar {
  display: flex;
  /* max-width: 90%;
  margin: 0 auto; */
  justify-content: space-between;
  align-items: baseline;
  z-index: 10;
}

.navbar h1 {
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
}

.navbar ul {
  display: flex;
  gap: 3rem;
  justify-self: space-between;
}
.navbar a {
  color: black;
  cursor: pointer;
}

/* .navbar > .buttons {
  display: none;
  gap: 1rem;
} */
