#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 2rem;
  color-scheme: light only;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* align-items: center; */
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* Essential dark mode prevention */
html,
body {
  background-color: white !important;
  color: black !important;
  color-scheme: light only;
}

* {
  color-scheme: light only;
}
